<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>电影售票管理系统</title>
    <link rel="Shortcut Icon" href="images/icon.png" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" href="layui/css/layui.css">
    <script type="text/javascript" src="layui/layui.js"></script>
    <style type="text/css">
        body {
            margin: 0px;
            padding: 0px;
        }
    </style>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">电影售票后台管理系统</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item layui-this"><a href="">控制台</a></li>
            <li class="layui-nav-item"><a href="javascript:;">产品中心</a></li>
            <li class="layui-nav-item"><a href="javascript:;">其它系统</a>
                <dl class="layui-nav-child">
                    <dd>
                        <a href="">邮件管理</a>
                    </dd>
                    <dd>
                        <a href="">消息管理</a>
                    </dd>
                    <dd>
                        <a href="">授权管理</a>
                    </dd>
                </dl>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item"><a href="javascript:;"> <img
                    src="${pageContext.request.contextPath}/${loginUser.flag.headImg}"
                    class="layui-nav-img"><span style="font-size: 12px;">欢迎您
								'${loginUser.flag.loginName}' 管理员</span>
            </a>
                <dl class="layui-nav-child">
                    <dd>
                        <a href="">基本资料</a>
                    </dd>
                    <dd>
                        <a href="">安全设置</a>
                    </dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="javascript:;" id="logout">退出系统</a></li>
        </ul>
    </div>
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed"><a
                        href="javascript:;">常用页面</a>
                    <dl class="layui-nav-child">
                        <dd>
                            <a href="userList.jsp" class="layui-this" target="menuIframe">用户列表</a>
                        </dd>
                        <dd>
                            <a href="userTypeList.jsp" target="menuIframe">用户类型列表</a>
                        </dd>
                        <dd>
                            <a href="houseList.jsp" target="menuIframe">房屋列表</a>
                        </dd>
                        <dd>
                            <a href="houseTypeList.jsp" target="menuIframe">房屋类型列表</a>
                        </dd>
                        <dd>
                            <a href="districtList.jsp" target="menuIframe">房屋区域列表</a>
                        </dd>
                        <dd>
                            <a href="commentList.jsp" target="menuIframe">评论列表</a>
                        </dd>
                        <dd>
                            <a href="orderList.jsp" target="menuIframe">订单列表</a>
                        </dd>
                        <dd>
                            <a href="houseImgList.jsp" target="menuIframe">房屋图片列表</a>
                        </dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="javascript:;">解决方案</a>
                    <dl class="layui-nav-child">
                        <dd>
                            <a href="javascript:;">列表一</a>
                        </dd>
                        <dd>
                            <a href="javascript:;">列表二</a>
                        </dd>
                        <dd>
                            <a href="">超链接</a>
                        </dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>
    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">
            <iframe src="userList.jsp" name="menuIframe" frameborder="none"
                    scrolling="auto" width="100%" height="600px"></iframe>
        </div>
    </div>
    <div class="layui-footer" style="text-align: center;">
        <!-- 底部固定区域 -->
        <span class="layui-breadcrumb" lay-separator="|"> <a href="">关于我们</a>
				<a href="">社会招聘</a> <a href="">校园招聘</a> <a href="">联系自如</a> <a
                    href="">自如采购</a> <a href="">百科</a> <a href="">综艺</a>
			</span>
    </div>
</div>
<script type="text/javascript">
    layui.use(['layer', 'element', 'jquery'], function () {
        var layer = layui.layer;
        var element = layui.element;
        var $ = layui.jquery;
        $("#logout").on('click', function () {
            layer.confirm("确定要离开管理员页面吗？", {
                skin: 'layui-layer-lan',
                icon: 2,
                title: '提示',
                anim: 6
            }, function (index) {
                $.ajax({
                    url: 'user/noLogin',
                    dateType: 'json',
                    type: 'post',
                    success: function (data) {
                        if (data.noLogin == "noLogin") {
                            parent.location.reload();
                            window.location = "homePage.jsp";
                        } else {

                        }
                    }
                });
            });
        })
    });
</script>
</body>
</html>