<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>电影订票系统</title>
    <link rel="Shortcut Icon" href="images/icon.png" type="image/x-icon"/>
    <script src="js/jquery/jquery-2.1.4.min.js" type="text/javascript"></script>
    <script src="layui/layui.js" type="text/javascript"></script>
    <script src="js/index/index.js" type="text/javascript"></script>
    <script src="js/index/freezeheader.js" type="text/javascript"></script>
    <script src="layui/lay/modules/layer.js" type="text/javascript"></script>
    <script src="js/index/sliders.js" type="text/javascript"></script>
    <script src="js/index/html5.js" type="text/javascript"></script>
    <link rel="stylesheet" href="layui/css/layui.css" media="all"/>
    <link rel="stylesheet" href="layui/css/modules/layer/default/layer.css"/>
    <link rel="stylesheet" href="css/global.css"/>
    <script type="text/javascript">
        $(function () {
            var oLi = document.getElementById("tab").getElementsByTagName("li");
            var oUl = document.getElementById("ms-main").getElementsByTagName("div");
            for (var i = 0; i < oLi.length; i++) {
                oLi[i].index = i;
                oLi[i].onmouseover = function () {
                    for (var n = 0; n < oLi.length; n++) oLi[n].className = "";
                    this.className = "cur";
                    for (var n = 0; n < oUl.length; n++) oUl[n].style.display = "none";
                    oUl[this.index].style.display = "block"
                }
            }
        });
    </script>
</head>
<body>
<div class="layui-header header">
    <!--导航栏 -->
    <div class="main">
        <ul class="layui-nav layui-nav-left" lay-filter="filter">
            <li class="layui-nav-item layui-this nav-left">
                <a href="v-main.html">首页</a>
            </li>
            <li class="layui-nav-item">
                <a href="v-video.html">明星专访区</a>
            </li>
            <li class="layui-nav-item">
                <a href="">时讯</a>
            </li>
            <li class="layui-nav-item">
                <a href="">电影分类</a>
            </li>
            <li class="layui-nav-item">
                <a href="">购物专栏</a>
            </li>
            <li class="layui-nav-item">
                <a href="">我的小世界</a>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right layui-nav-right" lay-filter="filter">
            <li class="layui-nav-item" th:if="${session.vuser==null&&session.vname==null}">
                <a href="../movie/goViewLogin.v">登录/注册<span class="layui-badge-dot"></span></a>
            </li>
            <li class="layui-nav-item" th:if="${session.vuser!=null&&session.vname!=null}">
                <a href="javascript:;"><img src="images/heading.jpg" class="layui-nav-img"><span
                        th:text="${session.vname}" style="font-size: 13px;"></span></a>
                <dl class="layui-nav-child">
                    <dd><a href="set.html">修改信息</a></dd>
                    <dd><a href="javascript:;" id="vsignOut">退了</a></dd>
                </dl>
            </li>
        </ul>
    </div>
</div>

<div class="layui-container container">
    <div class="layui-row layui-col-space20">
        <div class="layui-col-md8">
            <!--轮播图 -->
            <div class="carousel">
                <div class="layui-carousel" id="images-carousel">
                    <div carousel-item>
                        <div>
                            <a href="article_details.html"><img lay-src="images/轮播图/b1.jpg" width="100%"
                                                                height="280px;"/></a>
                        </div>
                        <div>
                            <img lay-src="images/轮播图/b2.jpg" width="100%" height="280px;"/>
                        </div>
                        <div>
                            <img lay-src="images/轮播图/b3.png" width="100%" height="280px;"/>
                        </div>
                        <div>
                            <img lay-src="images/轮播图/b4.png" width="100%" height="280px;"/>
                        </div>
                        <div>
                            <img lay-src="images/轮播图/b5.png" width="100%" height="280px;"/>
                        </div>
                        <div>
                            <img lay-src="static/images/轮播图/b6.png" width="100%" height="280px;"/>
                        </div>
                        <div>
                            <img lay-src="static/images/轮播图/b7.jpg" width="100%" height="280px;"/>
                        </div>
                        <div>
                            <img lay-src="static/images/轮播图/b8.png" width="100%" height="280px;"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="article-main">
                <h2>
                    热播电影
                </h2>

                <div class="article-list">
                    <figure><img lay-src="images/热映/0.png"></figure>
                    <ul>
                        <h3>
                            <a href="article_details.html">八佰</a>
                        </h3>
                        <p>
                            《八佰》是由华谊兄弟电影有限公司、北京七印象文化传媒有限公司出品，管虎执导，黄志忠、欧豪、王千源、姜武、张译、杜淳、魏晨、李晨、俞灏明等主演的战争题材影片。该片取材于1937年淞沪会战，讲述了被称作“八百壮士”的中国国民革命军第三战区88师524团的一个加强营，固守苏州河畔的四行仓库、阻击日军的故事。该片于2020年8月21日在中国内地上映。</p>

                    </ul>
                </div>

                <div class="article-list">
                    <figure><img lay-src="images/热映/1.png"></figure>
                    <ul>
                        <h3>
                            <a href="article_details.html">一点就到家</a>
                        </h3>
                        <p>《一点就到家》是由许宏宇执导，刘昊然、彭昱畅主演的电影，于2020年10月4日在中国内地上映。</p>
                </div>
                <div class="article-list">
                    <figure><img lay-src="images/热映/2.jpg"></figure>
                    <ul>
                        <h3>
                            <a href="article_details.html">住在手机里的朋友</a>
                        </h3>
                        <p>通信时代，无论是初次相见还是老友重逢，交换联系方式，常常是
                            彼此交换名片，然后郑重或是出于礼貌用手机记的过客，
                            通信时代，无论是初次相见还是老友重逢，交换联系方式，常常是彼此交换名片，然后
                            郑重或是出于礼貌用手机记的过客，这种快餐式的通信时代，无论是初次相见还是老友
                            重逢，通信时代，无论是初次相见还是老友重种快餐式的这种快餐式的友谊 ...</p>
                    </ul>
                </div>
                <div class="article-list">
                    <figure><img lay-src="images/热映/3.png"></figure>
                    <ul>
                        <h3>
                            <a href="article_details.html">海大鱼</a>
                        </h3>
                        <p>《海大鱼》是由任英健执导，张予曦、韩栋、贾征宇 、肖向飞 [1]
                            等主演的玄幻爱情电影。该片已于2020年10月30日在腾讯视频上线播出。该片讲述了渔女阿狸与海大鱼之间所发生的爱恨情仇的故事。</p>

                    </ul>
                </div>
                <div class="article-list">
                    <figure><img lay-src="images/热映/4.jpg"></figure>
                    <ul>
                        <h3>
                            <a href="article_details.html">小时代</a>
                        </h3>
                        <p>
                            《小时代》是由郭敬明执导，杨幂、柯震东、郭采洁、郭碧婷等领衔主演的青春时尚都市电影，该片是《小时代》系列电影的第一部。该片根据郭敬明同名小说《小时代》改编，影片以上海为背景，讲述四个从小感情深厚、有着不同价值观和人生观的女生，经历了友情、爱情、亲情的巨大转变。在一个宿舍朝夕相处的四个女生，开始找工作实习的忙碌生活，面对巨大压力，在看似平静的校园相继发生着让她们措手不及的故事</p>

                    </ul>
                </div>

                <div class="article-list">
                    <figure><img lay-src="images/热映/5.jpg"></figure>
                    <ul>
                        <h3>
                            <a href="article_details.html">战狼</a>
                        </h3>
                        <p>《战狼Ⅱ》是吴京执导的动作军事电影，由吴京、弗兰克·格里罗、吴刚、张翰、卢靖姗、淳于珊珊、丁海峰等主演。该片于2017年7月27日在中国内地上映
                            。2020年3月20日，《战狼Ⅱ》重映。该片讲述了脱下军装的冷锋被卷入了一场非洲国家的叛乱，本来能够安全撤离的他无法忘记军人的职责，</p>

                    </ul>
                </div>
            </div>
            <!--分页-->
            <div id="page"></div>
        </div>
        <div class="layui-col-md4">
            <form class="layui-form" method="post" action="message.html">
                <div class="layui-form-item">
                    <div class="layui-input-inline" style="width:76%;">
                        <input type="text" name="title" lay-verify="required" placeholder="请输入关键字" class="layui-input">
                    </div>
                    <button class="layui-btn" lay-filter="*" lay-submit>搜索</button>
                </div>
            </form>
            <div class="ad"><img lay-src="images/热映/20.jpg"></div>
            <div class="ms-top">
                <ul class="hd" id="tab">
                    <li class="cur"><a>热映电影</a></li>
                    <li><a>即将播放</a></li>
                    <li><a>电影票房排行</a></li>
                </ul>
            </div>
            <div class="ms-main" id="ms-main">
                <div style="display: block;" class="bd bd-news">
                    <ul>
                        <li><a href="#" target="_blank">盗墓笔记</a></li>
                        <li><a href="#" target="_blank">夏有乔木雅望天堂</a></li>
                        <li><a href="#" target="_blank">美人鱼</a></li>
                        <li><a href="#" target="_blank">大鱼海棠</a></li>
                        <li><a href="#" target="_blank">绝地逃亡</a></li>
                        <li><a href="#" target="_blank">万万没想到</a></li>
                    </ul>
                </div>
                <div class="bd bd-news">
                    <ul>
                        <li><a href="#" target="_blank">格陵兰</a></li>
                        <li><a href="#" target="_blank">釜山行2</a></li>
                        <li><a href="#" target="_blank">福岛50死士</a></li>
                        <li><a href="#" target="_blank">电锯惊魂9</a></li>
                        <li><a href="#" target="_blank">卫星</a></li>
                        <li><a href="#" target="_blank">心理罪</a></li>
                    </ul>
                </div>
                <div class="bd bd-news">
                    <ul>

                        <li><a href="#" target="_blank">战狼2</a></li>
                        <li><a href="#" target="_blank">哪吒之魔童降世</a></li>
                        <li><a href="#" target="_blank">流浪地球</a></li>
                        <li><a href="#" target="_blank">复仇者联盟4：终局之战</a>></li>
                        <li><a href="#" target="_blank">红海行动</a></li>
                        <li><a href="#" target="_blank">唐人街探案2</a></li>
                    </ul>
                </div>

            </div>
            <div class="cloud">
                <h3>电影分类</h3>
                <ul>
                    <li><a href="#">搞笑</a></li>
                    <li><a href="#">惊悚</a></li>
                    <li><a href="#">爱情</a></li>
                    <li><a href="#">综艺</a></li>
                    <li><a href="#">恐怖</a></li>
                </ul>
            </div>
            <div class="tuwen">
                <h3>热门影人</h3>
                <ul>
                    <li><a href="#"><img lay-src="images/热门影人/r1.jpg"><b>刘德华</b></a>
                        <p><span class="tulanmu"><a href="#">热门影人</a></span><span class="tutime">9999</span></p>
                    </li>
                    <li><a href="#"><img lay-src="images/热门影人/r2.jpg"><b>胡青云</b></a>
                        <p><span class="tulanmu"><a href="#">热门影人</a></span><span class="tutime">6523</span></p>
                    </li>
                    <li><a href="#"><img lay-src="images/热门影人/r3.jpg"><b>成龙</b></a>
                        <p><span class="tulanmu"><a href="#">热门影人</a></span><span class="tutime">42551</span></p>
                    </li>
                    <li><a href="#"><img lay-src="images/热门影人/r4.jpg"><b>胡歌</b></a>
                        <p><span class="tulanmu"><a href="#">热门影人</a></span><span class="tutime">6666</span></p>
                    </li>
                    <li><a href="#"><img lay-src="images/热门影人/r5.jpg"><b>王宝强</b></a>
                        <p><span class="tulanmu"><a href="#">热门影人</a></span><span class="tutime">7896</span></p>
                    </li>
                </ul>
            </div>
            <div class="ad"><img lay-src="images/dp.jpg"></div>
            <div class="links">
                <h3><span>[<a href="#">申请友情链接</a>]</span>友情链接</h3>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <hr class="layui-bg-red">
    <p><a href="#">电影订票系统</a> 2020 &copy; <a href="#">movie.com</a></p>
    <p>电影勾画美好人生</p>
</div>
<script type="text/javascript">
    layui.use(['layer', 'element', 'jquery'], function () {
        const layer = layui.layer;
        const element = layui.element;
        const $ = layui.jquery;
        $(".layui-body").css("bottom", 0);
        $("#vsignOut").on('click', function () {
            layer.confirm("确定要退出登录吗？", {
                skin: 'layui-layer-lan',
                icon: 2,
                title: '提示',
                anim: 6
            }, function (index) {
                $.ajax({
                    url: 'vuser/signOut.v',
                    dateType: 'json',
                    type: 'post',
                    success: function (data) {
                        if (data.signOut == "signOut") {
                            layer.msg("退出系统");
                            setTimeout(function () {
                                window.parent.location.reload();
                                window.location = "../movie/main.v";
                            }, 1000);
                        } else {

                        }
                    }
                });
            });
        });
    });
</script>
</body>
</html>